<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <!-- 탭 부분 로고 사진 및 타이틀-->
    <link rel="icon" type="image/x-icon" href="static/main_static/assets/dol_removebg.png"/>
    <title>제주 특산물</title>
    <!--css 모음집-->
    <link href="static/detail_static/css/styles.css" rel="stylesheet"/>
    <link href="static/detail_static/css/calender.css" rel="stylesheet"/>
    <!--사이드바 폰트어썸-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/cfeddde540.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">

<main class="flex-shrink-0">
<!--네비게이션바 -->
<main class="flex-shrink-0">
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
        <div class="container px-5">
            <a class="navbar-brand" href="{% url 'welcome' %}">
                <img class="profile-img" src="static/main_static/assets/jeju_logo.png" href="{% url 'welcome' %}"></a>
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!">
                <i class="fas fa-bars"></i></button>
        </div>
    </nav>
</main>

{% include "sidenavbar.html" %}
<div id="layoutSidenav_content">
    <main>
        <div class="container">
            <div class="row row-cols-2 row-cols-lg-5">
                <div class="col-l-2 col-md-5">
                    <div class="card bg-primary text-white mb-4">
                        <div class="card-body">당근</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="{% url 'jcarrot' %}">View Details</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-l-2 col-md-5">
                    <div class="card bg-warning text-white mb-4">
                        <div class="card-body">감귤</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="{% url 'jmandarin' %} ">View Details</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-l-2 col-md-5">
                    <div class="card bg-success text-white mb-4">
                        <div class="card-body">브로콜리</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="{% url 'jbroccoli' %}">View Details</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-l-2 col-md-5">
                    <div class="card bg-danger text-white mb-4">
                        <div class="card-body">양배추</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="{% url 'jcabbage' %}">View Details</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-l-2 col-md-5">
                    <div class="card bg-secondary text-white mb-4">
                        <div class="card-body">무</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="{% url 'jradish' %}">View Details</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 메인 사진 및 차트-->
            <div class="row">
                <div class="col-xl-6">
                    <div class="card mb-6">
                        <img class="profile-img" src="https://m.segye.com/content/image/2021/05/29/20210529505102.jpg"
                             width="640" height="430">
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-area me-1"></i>
                            제주시 양배추 가격변동
                        </div>
                        <div class="card-body">
                            <canvas id="CabbageJejuChart" width="100%" height="60"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <br> <br><br><br>

    <div class="container text-center">
        <div class="row align-items-start">
            <div class="col">
                <h2> 제주시 추천 온라인 양배추 스토어 </h2>
            </div>
        </div>
    </div>
    <br><br><br><br>
    <!-- 스토어 정리 -->
    <section>
        <div class="container px-lg-5">
            <div class="row gx-lg-5">
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <a href="https://smartstore.naver.com/jejuttam/products/574142873?n_media=11068&n_query=%EC%A0%9C%EC%A3%BC%EC%96%91%EB%B0%B0%EC%B6%94&n_rank=1&n_ad_group=grp-a001-02-000000002519088&n_ad=nad-a001-02-000000022221358&n_campaign_type=2&n_mall_id=jejuttam&n_mall_pid=574142873&n_ad_group_type=2&n_match=3&NaPm=ct%3Dlp7wsr7s%7Cci%3D0za0001bePLz6wVhPf14%7Ctr%3Dpla%7Chk%3D360e29deaaa1c1d1b30b7e9824ccfeddfa63c903"
                               target="_blank">
                                <div class="mb-4 mt-n4">
                                    <img class="profile-img" src="static/special_static/assets/jeju/cabbage/제주땀.jpg"
                                         width="250"
                                         height="120">
                                </div>
                            </a>
                            <h2 class="fs-4 fw-bold">제주땀</h2>
                            <p>청정의 섬 제주 산지에서 보내드려요</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <a href="https://smartstore.naver.com/arifarm_jeju/products/6009307921"
                               target="_blank">
                                <div class="mb-4 mt-n4">
                                    <img class="profile-img" src="static/special_static/assets/jeju/cabbage/아라팜스.jpg"
                                         width="250"
                                         height="120">
                                </div>
                            </a>
                            <h2 class="fs-4 fw-bold">아리팜스</h2>
                            <p>청정제주의 가치</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <a href="https://smartstore.naver.com/farmstival?NaPm=ct%3Dlp7x18s3%7Cci%3Dshopn%7Ctr%3Dslsl%7Chk%3Dc28b10807c1b2fe0d7b10045029cd54200af98ea%7Ctrx%3Dundefined"
                               target="_blank">
                                <div class="mb-4 mt-n4">
                                    <img class="profile-img" src="static/special_static/assets/jeju/cabbage/팜스티벌.jpg"
                                         width="250"
                                         height="120">
                                </div>
                            </a>
                            <h2 class="fs-4 fw-bold">팜스티벌</h2>
                            <p>dancing with vegetables</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <a href="https://smartstore.naver.com/nonggamart/products/9506155412"
                               target="_blank">
                                <div class="mb-4 mt-n4">
                                    <img class="profile-img" src="static/special_static/assets/jeju/cabbage/농가마트.jpg"
                                         width="250"
                                         height="120">
                                </div>
                            </a>
                            <h2 class="fs-4 fw-bold">농가마트</h2>
                            <p>지금 가장 맛있는 제철 농수산물만<br>산지직송으로 신선하게 보내드립니다</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <a href="https://smartstore.naver.com/jaeyeonfarm/products/5217732040"
                               target="_blank">
                                <div class="mb-4 mt-n4">
                                    <img class="profile-img" src="static/special_static/assets/jeju/cabbage/재연팜.jpg"
                                         width="250"
                                         height="120">
                                </div>
                            </a>
                            <h2 class="fs-4 fw-bold">재연팜</h2>
                            <p>제주에서 바르게 농사지어<br> 빠르게 보내드립니다</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <a href="https://smartstore.naver.com/mbloomshop/products/5358237938?n_media=11068&n_query=%EC%A0%9C%EC%A3%BC%EC%96%91%EB%B0%B0%EC%B6%94&n_rank=5&n_ad_group=grp-a001-02-000000024106424&n_ad=nad-a001-02-000000159157290&n_campaign_type=2&n_mall_id=ncp_1o37tl_01&n_mall_pid=5358237938&n_ad_group_type=2&n_match=3&NaPm=ct%3Dlp7x80lk%7Cci%3D0zS0000jfzLzNn5WJ12U%7Ctr%3Dpla%7Chk%3D0663064c21b25e338963f6ef2add5ebb472856fa"
                               target="_blank">
                                <div class="mb-4 mt-n4">
                                    <img class="profile-img" src="static/special_static/assets/jeju/cabbage/마켓타운.jpg"
                                         width="250"
                                         height="120">
                                </div>
                            </a>
                            <h2 class="fs-4 fw-bold">마켓타운</h2>
                            <p>산지직송을 원칙으로 신선하고 <br>안심할 수 있는 먹거리를 선사드립니다</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include "footer.html" %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
    <script src="static/detail_static/js/scripts.js"></script>
    <script src="static/detail_static/js/calender.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="static/detail_static/assets/demo/chart-area-demo.js"></script>
    <script src="static/special_static/js/jeju_chart/cabbage_chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
            crossorigin="anonymous"></script>
    <script src="static/detail_static/js/datatables-simple-demo.js"></script>
</body>
</html>