<main>
        <div class="container">
            <div class="row row-cols-2 row-cols-lg-5">
                <div class="col-l-2 col-md-5">
                    <div class="card bg-primary text-white mb-4">
                        <div class="card-body">당근</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="{% url 'jcarrot' %}">View Details</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-l-2 col-md-5">
                    <div class="card bg-warning text-white mb-4">
                        <div class="card-body">감귤</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="{% url 'jmandarin' %} ">View Details</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-l-2 col-md-5">
                    <div class="card bg-success text-white mb-4">
                        <div class="card-body">브로콜리</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="{% url 'jbroccoli' %}">View Details</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-l-2 col-md-5">
                    <div class="card bg-danger text-white mb-4">
                        <div class="card-body">양배추</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="{% url 'jcabbage' %}">View Details</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-l-2 col-md-5">
                    <div class="card bg-secondary text-white mb-4">
                        <div class="card-body">무</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="{% url 'jradish' %}">View Details</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
            </div>