{% load humanize %}
<!-- 캘린더 -->
<div class="container-px">
    <div class="calendar">
        <center>
            <div class="calendar_header">
                <div class="ym-wrapper">
                    <span class="year"></span>년
                    <span class="month"></span>월
                </div>
                <div class="calendar_nav">
                    <button class="nav-btn go-prev">&lt;</button>
                    <button class="nav-btn go-today">Today</button>
                    <button class="nav-btn go-next">&gt;</button>
                </div>
            </div>
        </center>
        <div class="calendar_main">
            <div class="days">
                <div class="day">일</div>
                <div class="day">월</div>
                <div class="day">화</div>
                <div class="day">수</div>
                <div class="day">목</div>
                <div class="day">금</div>
                <div class="day">토</div>
            </div>
            <div class="dates">
            </div>
        </div>
        <!-- 특상품 금액예측 창 -->
        <div class="resv-wrapper">
            <div class="resv-bg">
                <button class="resv-close">X</button>
                <div class="resv_info">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col">
                                <h3>특산품 예상 금액 </h3>
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="resv-event">
                        <div class="card mb-4">
                            <div class="card-header">
                                <!-- 팝업창에 클릭한 날짜까지 나오도록 하려고 추가한 코드 -->
                                <div class="selected-date">
                                    <h4><i class="fas fa-table me-1"></i>  <span id="selected-date-span"></span></h4>
                                </div>
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                    <tr>
                                        <th>Crop</th>
                                        <th>Company</th>
                                        <th>Price</th>
                                        <th>Date</th>
                                        <th>AI-model</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in data %}
                                        <tr>
                                            <td>{{ item.crop_type }}</td>
                                            <td>{{ item.supplier }}</td>
                                            <td>{{ item.crop_price|floatformat:"0" }}</td>
                                            <td>{{ item.crop_date }}</td>
                                            <td>{{ item.ai_model}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
