 <!-- 캘린더 -->
<div class="calendar">
    <center>
        <div class="calendar_header">
            <div class="ym-wrapper">
                <span class="year"></span>년
                <span class="month"></span>월
            </div>
            <div class="calendar_nav">
                <button class="nav-btn go-prev">&lt;</button>
                <button class="nav-btn go-today">오늘</button>
                <button class="nav-btn go-next">&gt;</button>
            </div>
        </div>
        </center>
        <div class="calendar_main">
            <div class="days">
                <div class="day">일</div>
                <div class="day">월</div>
                <div class="day">화</div>
                <div class="day">수</div>
                <div class="day">목</div>
                <div class="day">금</div>
                <div class="day">토</div>
            </div>
            <div class="dates"></div>
        </div>
      <!-- 특상품 금액예측 창 -->
        <div class="resv-wrapper">
            <div class="resv-bg">
              <button class="resv-close">X</button>
              <div class="resv_info">
                  <div class="container text-center">
                    <div class="row">
                      <div class="col">
                       <h2>특산품 예상 금액 </h2>
                      </div>
                    </div>
                  </div>
                  <br>

                  <div class="resv-event">
                       <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                특산품 예상 금액
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Local</th>
                                            <th>Company</th>
                                            <th>Kg</th>
                                            <th>Price</th>
                                            <th>Start date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>당근(Carrot)</td>
                                            <td>제주시</td>
                                            <td>도하네농장</td>
                                            <td>1Kg</td>
                                            <td>8,900원</td>
                                            <td>2011/04/25</td>
                                        </tr>
                                        <tr>
                                            <td>감귤(Mandarin)</td>
                                            <td>제주시</td>
                                            <td>소담제주</td>
                                            <td>1.3Kg</td>
                                            <td>12,000원</td>
                                            <td>2011/07/25</td>
                                        </tr>
                                        <tr>
                                            <td>브로콜리(Broccoli)</td>
                                            <td>제주시</td>
                                            <td>오가닉타운스</td>
                                            <td>1Kg</td>
                                            <td>12,000원</td>
                                            <td>2009/01/12</td>
                                        </tr>
                                        <tr>
                                            <td>양배추(Cabbage)</td>
                                            <td>제주시</td>
                                            <td>하늘푸드</td>
                                            <td>2Kg</td>
                                            <td>3,800워</td>
                                            <td>2012/03/29</td>
                                        </tr>
                                        <tr>
                                            <td>무(Radish)</td>
                                            <td>제주시</td>
                                            <td>연미농장</td>
                                            <td>1.2Kg</td>
                                            <td>5,900원</td>
                                            <td>2008/11/28</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                  </div>
              </div>
          </div>
      </div>
  </div>