<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/typeit@8.3.3/dist/index.umd.js"></script>
    <title>제주 특산물</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="static/welcome_static/welcome.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/cfeddde540.js" crossorigin="anonymous"></script>
    <META http-equiv="refresh" content="5.5; url={% url 'welcome' %}">
    <META HTTP-EQUIV="Page-Enter" ConTENT="BlendTrans(Duration=0.3)">
    <META HTTP-EQUIV="Page-exit" ConTENT="BlendTrans(Duration=0.3)">

    <style>
      :root {
        --ti-cursor-margin-left: 0.1em; //
        --ti-cursor-color: dodgerblue; //
      }
      body {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #E6F8E0;
        color: #088A29;
        font-size: 3rem;
        font-family: 'Roboto', sans-serif;
      }
      h1 {
        margin-bottom: 0px;
      }
    </style>
  </head>
  <body>
    <h1 id="title">뭘 봐 인마</h1>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        new TypeIt('#title') //
          .pause(1000)
          .delete(5, { delay: 1100 })
          .type('Seogwipo!')
          .go();
      });
    </script>
    <br>
  </body>
</html>