<link href="static/main_static/css/styles.css" rel="stylesheet" />
    <main class="flex-shrink-0">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
            <div class="container px-5">
                <a class="navbar-brand" href="{% url 'main' %}">
                    <img class="profile-img" src="static/main_static/assets/jeju_logo.png" alt="..." /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                        <li class="nav-item"><a class="nav-link" href="{% url 'main' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'jeju' %}">Detail</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'process' %}">Process</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'resume' %}">Resume</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </main>