<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="static/main_static/assets/dol_removebg.png" />
        <title>제주 특산물</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
        <link href="static/detail_static/css/styles.css" rel="stylesheet" />
        <link href="static/detail_static/css/calender.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/cfeddde540.js" crossorigin="anonymous"></script>
        <style>
        /* 스타일을 적절히 조정하세요 */
        .popup-container {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 20px;
            background-color: white;
            border: 1px solid #ccc;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            z-index: 1000;
            margin-left: 60px; /* 오른쪽으로 20px 이동 */
            max-width: 80%; /* 최대 가로 길이를 설정 */
        }
        .popup-img {
        max-width: 100%; /* 이미지가 부모 요소를 넘어가지 않도록 최대 너비 설정 */
        max-height: 70%; /* 이미지가 부모 요소를 넘어가지 않도록 최대 높이 설정 */
        width: 1100px; /* 가로 길이를 유지하면서 최대 너비에 맞춤 */
        height: 800px; /* 세로 길이를 유지하면서 최대 높이에 맞춤 */
        display: block; /* 인라인 요소 간 여백 제거 */
        margin: 0 auto; /* 가운데 정렬을 위해 좌우 여백을 자동으로 설정 */
        }

        /* 닫기 버튼 스타일 */
        .popup-close {
            position: absolute;
            top: 10px;
            right: 70px;
            cursor: pointer;
        }

        </style>
    </head>
    <body class="sb-nav-fixed">

    <!--여기서부터 navbar인데 어찌해야할지 모르겠네 -->
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
                <div class="container px-5">
                    <a class="navbar-brand" href="{% url 'main' %}">
                        <img class="profile-img" src="static/main_static/assets/jeju_logo.png"  href="{% url 'main' %}"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                            <li class="nav-item"><a class="nav-link" href="{% url 'main' %}">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'jeju' %}">Detail</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'process' %}">Process</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'resume' %}">Resume</a></li>
                        </ul>
                    </div>
                    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars">Zoom</i></button>
                </div>
            </nav>
        </main>
        {% include "sidenavbar.html" %}
        <div id="layoutSidenav_content">
      <main>
          <div class="container">
                        <Center><h1>Team Process</h1></Center><br>

                        <!--첫 번째 설명 칸 -->
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card mb-6">
                                    <div class="card-header">
                                        <i class="fas fa-chart-area me-1"></i>
                                        WBS
                                    </div>
                                    <img class="profile-img" src="./static/main_static/assets/wbs_일정관리.png" onclick="openPopup_WBS()">
                                </div>
                            </div>
                            <!-- 팝업 컨테이너 -->
                            <div id="popupWBS" class="popup-container">
                                <span class="popup-close" onclick="closePopup_WBS()">&times;</span>
                                <img class="popup-img" src="./static/main_static/assets/wbs_일정관리.png">
                            </div>
                            <script>
                                // 팝업 열기
                                function openPopup_WBS() {
                                    document.getElementById('popupWBS').style.display = 'block';
                                }

                                // 팝업 닫기
                                function closePopup_WBS() {
                                    document.getElementById('popupWBS').style.display = 'none';
                                }
                            </script>

                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-bar me-1"></i>
                                        WBS를 활용한 프로젝트 일정 관리
                                    </div>
                                    <div class="card-body">
                                        프로젝트 기획, 시스템 설계, 개발, 테스트의 주요 단계를 세세하게 나누어 일정을 구성함으로써 팀원간의
                                        업무를 명확히 분담하고 프로젝트 진행을 원할하게 진행을 하였습니다.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br><br>
                        <!-- 두 번째 설명 칸 -->
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card mb-6">
                                    <div class="card-header">
                                        <i class="fas fa-chart-area me-1"></i>
                                        깃 허브
                                    </div>
                                    <img class="profile-img" src="./static/main_static/assets/깃협업순서.png" onclick="openPopup_Github()">
                                </div>
                            </div>
                            <!-- 팝업 컨테이너 -->
                            <div id="popupGithub" class="popup-container">
                                <span class="popup-close" onclick="closePopup_Github()">&times;</span>
                                <img class="popup-img" src="./static/main_static/assets/깃협업순서.png" >
                            </div>
                            <script>
                                // 팝업 열기
                                function openPopup_Github() {
                                    document.getElementById('popupGithub').style.display = 'block';
                                }

                                // 팝업 닫기
                                function closePopup_Github() {
                                    document.getElementById('popupGithub').style.display = 'none';
                                }
                            </script>
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-bar me-1"></i>
                                        이건 지워도 되고 살려도 되는 그런 칸
                                    </div>
                                    <div class="card-body">브로콜리(broccoli)는 겨자과에 속하는 짙은 녹색채소로 '녹색 꽃양배추'라고도 불린다. 브로콜리는 샐러드, 수프, 스튜 등 서양음식에 가장 많이 사용하는 채소 중 하나다. 11월부터 4월까지가 제철이지만 요즘은 사철 구별 없이 먹을 수 있다.
                                            브로콜리를 구입할 때는 송이가 단단하면서 가운데가 볼록하게 솟아올라 있으며 줄기를 잘라낸 단면이 싱싱한 것을 골라야 한다. 꽃이 핀 것은 맛과 영양이 떨어지므로 꽃 피기 전의 브로콜리를 골라야 한다. 줄기의 영양가가 송이보다 높으며 특히 식이섬유 함량이 높으므로 버리지 말고 먹도록 한다.
                                            가 송이 속wer)는 지중해 연안이 원산지이며, 우리나라에는 1926년 무렵에 도입되었다. 양배추보다 연하고 소화가 잘 되는 채소이며, 백색이 주류이지만 자주색이나 오렌지색인 품종도 있다. 제철은 가을부터 다음해 이른 봄까지인데, 가을부터 겨울까지 특히 맛이 좋다.
                                            브로콜리와 콜리플라워는 평지에서 자라는 채소로 항암 작용이 강한 유황화합물이 풍부하게 들어 있다. 유황화합물은 발암 물질의 활성화와 암세포 증식을 억제한다.
                                            [네이버 지식백과] 브로콜리 [broccoli] (파워푸드 슈퍼푸드, 2010. 12. 11., 박명윤, 이건순, 박선주)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br><br>
                        <!-- 세 번째 설명 칸 -->
                        <div class="row">
                        <div class="col-xl-6">
                            <div class="card mb-6">
                                <div class="card-header">
                                    <i class="fas fa-chart-area me-1"></i>
                                    노션
                                </div>
                                <img class="profile-img" src="./static/main_static/assets/데이터공유.png" onclick="openPopup_Data()">
                            </div>
                        </div>
                        <!-- 팝업 컨테이너 -->
                        <div id="popupData" class="popup-container">
                            <span class="popup-close" onclick="closePopup_Data()">&times;</span>
                            <img class="popup-img" src="./static/main_static/assets/데이터공유.png">
                        </div>
                        <script>
                            // 팝업 열기
                            function openPopup_Data() {
                                document.getElementById('popupData').style.display = 'block';
                            }

                            // 팝업 닫기
                            function closePopup_Data() {
                                document.getElementById('popupData').style.display = 'none';
                            }
                        </script>
                        <div class="col-xl-6">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <i class="fas fa-chart-bar me-1"></i>
                                    데이터 공유
                                </div>
                                <div class="card-body">
                                    귀여운 강아지랍니다~
                                </div>
                            </div>
                        </div>
                    </div>
    </main>
        {% include "footer.html" %}


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="static/detail_static/js/scripts.js"></script>
        <script src="static/detail_static/js/calender.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="static/detail_static/assets/demo/chart-area-demo.js"></script>
        <script src="static/detail_static/assets/demo/chart-bar-demo.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
        <script src="static/detail_static/js/datatables-simple-demo.js"></script>
</body>
</html>
