<!-- 서귀포바디 seogwipo body full code -->
<main>
    <div class="dashboard-container">
        <!--서귀포 당근 대시보드-->
        <div class="row">
            <div class='tableauPlaceholder' id='viz1700703344274' style='position: relative; display: none;'>
                <noscript><a href='#'><img alt='대시보드 1 '
                                           src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;__&#47;___17007010264790&#47;1&#47;1_rss.png'
                                           style='border: none'/></a></noscript>
                <object class='tableauViz' style='display:none;'>
                    <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F'/>
                    <param name='embed_code_version' value='3'/>
                    <param name='site_root' value=''/>
                    <param name='name' value='___17007010264790&#47;1'/>
                    <param name='tabs' value='no'/>
                    <param name='toolbar' value='yes'/>
                    <param name='static_image'
                           value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;__&#47;___17007010264790&#47;1&#47;1.png'/>
                    <param name='animate_transition' value='yes'/>
                    <param name='display_static_image' value='yes'/>
                    <param name='display_spinner' value='yes'/>
                    <param name='display_overlay' value='yes'/>
                    <param name='display_count' value='yes'/>
                    <param name='language' value='ko-KR'/>
                </object>
            </div>
            <script type='text/javascript'>
                                        var divElement = document.getElementById('viz1700703344274');                    var vizElement = divElement.getElementsByTagName('object')[0];                    if ( divElement.offsetWidth > 800 ) { vizElement.style.width='1200px';vizElement.style.height='527px';} else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='1200px';vizElement.style.height='527px';} else { vizElement.style.width='100%';vizElement.style.height='727px';}                     var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);

            </script>
        </div>
    </div>
    <script>
                        // 페이지가 처음로드될 때 당근 대시보드만 표시합니다.
                        document.addEventListener("DOMContentLoaded", function() {
                            toggleDashboard(0);
                        });

                        function toggleDashboard(index) {
                            // 대시보드 엘리먼트를 가져옵니다.
                            var dashboards = document.querySelectorAll(".dashboard-container .tableauPlaceholder");

                            // 모든 대시보드를 숨깁니다.
                            dashboards.forEach(function(dashboard) {
                                dashboard.style.display = "none";
                            });

                            // 특정 대시보드를 표시합니다.
                            dashboards[index].style.display = "block";
                        }

                        function showDashboard(index) {
                            // View Details 링크를 클릭하면 해당 대시보드를 표시합니다.
                            toggleDashboard(index);
                        }


    </script>