<!-- 사이드 메뉴 -->
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Price | 가격</div>
                    <a class="nav-link" href="{% url 'cr' %}">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        소매가
                    </a>
                    <a class="nav-link" href="{% url 'cr_sw' %}">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        도매가
                    </a>

                    <!-- Specialties 메뉴-->
                    <div class="sb-sidenav-menu-heading">Specialties | 특산품</div>
                    <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                        <a class="nav-link collapsed" href="{% url 'jcarrot' %} ">
                            당근(Carrot)
                        </a>
                        <a class="nav-link collapsed" href="{% url 'jmandarin' %}">
                            감귤(Mandarin)
                        </a>
                        <a class="nav-link collapsed" href="{% url 'jbroccoli' %}">
                            브로콜리(Broccoli)
                        </a>
                        <a class="nav-link collapsed" href="{% url 'jcabbage' %}">
                            양배추(Cabbage)
                        </a>
                        <a class="nav-link collapsed" href="{% url 'jradish' %}">
                            무(Radish)
                        </a>
                    </nav>
                </div>
            </div>
            <img class="profile-img" src="static/main_static/assets/dol_removebg.png" alt="..."/>
        </nav>
    </div>
